@model Pharmacy.Arrival

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Arrival</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArrivalId" />
            <div class="form-group">
                <label asp-for="MedicamentId" class="control-label"></label>
                <select asp-for="MedicamentId" class="form-control" asp-items="ViewBag.MedicamentId"></select>
                <span asp-validation-for="MedicamentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label"></label>
                <input asp-for="ReceiptDate" class="form-control" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverId" class="control-label"></label>
                <select asp-for="DeliverId" class="form-control" asp-items="ViewBag.DeliverId"></select>
                <span asp-validation-for="DeliverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
