@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<html>
<head>
    <title>Payments_system</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3>@ViewBag.Message</h3>
    <input type="button" class="btn btn-danger" value="Ok" onclick="history.back()" />
</body>
</html>
