
@{
    ViewData["Title"] = "Start Page"; Layout = "~/Views/Shared/StartLayout.cshtml";
}

<html>
<head>
    <title>Pharmacy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3 style="margin-left:38%; font-size:50px;">@ViewData["Title"]</h3>
    <button style="color:white; border-color:black; background-color:limegreen; font-size:33px;" type="button" class="btn btn-success" id="button" onclick="location.href='@Url.Action("Login", "Users")'">
        Log in
    </button><br><br><br>
    <button style="color:white; border-color:black; background-color:limegreen; font-size:33px;" type="button" class="btn btn-success" id="button" onclick="location.href='@Url.Action("Registration", "Users")'">
        Registration
    </button>
</body>
</html>

