
@{
    ViewData["Title"] = "Login"; Layout = "~/Views/Shared/StartLayout.cshtml";
}

<html>
<head>
    <title>Pharmacy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2 style="margin-left:40%; font-size:40px;">Login page</h2>
    <form method="post" action="~/Users/Login">
        <label style="margin-left:47%; font-size:20px;">Login: </label>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" type="text" name="login" />
        <label style="margin-left:45%; font-size:20px;">Password: </label>
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" name="password" />
        <input style="color:white; border-color:black; background-color:limegreen; font-size:33px;" type="submit" class="btn btn-success" value="Login" />
    </form>
</body>
</html>

