
@{
    ViewData["Title"] = "Registration"; Layout = "~/Views/Shared/StartLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Pharmacy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2 style="margin-left:38%; font-size:50px;">Registration</h2>
    <form method="post" action="~/Users/Registration">
        <label style="font-size:20px;">Name:</label>
        <input type="text" class="form-control" name="name" required="required" /><br>
        <label style="font-size:20px;">Surname:</label>
        <input type="text" class="form-control" name="surname" required="required" /><br>
        <label style="font-size:20px;">Email:</label>
        <input type="email" class="form-control" name="email" required="required" /><br>
        <label style="font-size:20px;">Password:</label>
        <input type="password" class="form-control" name="password" required="required" /><br>
        <input style="color:white; border-color:black; background-color:limegreen; font-size:33px;" type="submit" class="btn btn-success" value="Confirm" />
    </form>
</body>
</html>
